<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Mengubah Data Keluarga</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    </head>
    <body>
<div class="container">

    <div class="container-fluid">
        <h3>Mengubah Data Keluarga</h3>
        <h2 th:text="${nkk}"></h2>
    </div>

    <hr/>
    <div class="container-fluid">
        <form method="post" th:action="${nkk}" th:object="${keluarga}">
            <div class="form-group">
                <label for="nama"><h6>Alamat</h6></label>
                <input type="name" class="form-control" name="alamat" id="nama" maxlength="128" th:value="*{alamat}" required="true" />
            </div>

            <div class="form-group">
                <label for="RT"><h6>RT</h6></label>
                <input type="name" class="form-control" name="RT" id="RT" maxlength="128" th:value="*{RT}" required="true" />
            </div>

            <div class="form-group">
                <label for="RW"><h6>RW</h6></label>
                <input type="name" class="form-control" name="RW" id="RW" th:value="*{RW}" required="true"/>
            </div>

            <div class="form-group">
                <label for="id_kelurahan"><h6>Kota / Kecamatan / Kelurahan</h6></label>
                <select class="form-control" name="id_kelurahan" id="id_kelurahan"  required="true">
                    <div th:each="kelurahan : ${kelurahan}">
                        <option th:value="${kelurahan.id}" th:text="${kelurahan.nama_kelurahan}" th:selected="${kelurahan.id == current_kelurahan.id}"></option>
                    </div>
                </select>
            </div>

            <div class="form-group">
                <label for="is_tidak_berlaku"><h6>Status Keberlakuan</h6></label>
                <select class="form-control" name="id_kelurahan" id="is_tidak_berlaku" th:field="*{is_tidak_berlaku}" required="true">
                    <option value="0">Tidak Berlaku</option>
                    <option value="1">Berlaku</option>
                </select>
            </div>

            <br/>
            <button type="submit" class="btn btn-default">Simpan</button>
        </form>
    </div>

</div>
</body>
</html>