<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lihat Data Keluarga</title>
         <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    </head>
    <body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">Home</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
				<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="/penduduk/cari">Mencari Penduduk</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="/penduduk/tambah">Menambah Penduduk</a>
				</li>
			</ul>
		</div>
	</nav>
	
<div class="jumbotron text-center">
 <h3 th:text="'Lihat Data Keluarga - ' + ${keluarga.nomor_kk}"></h3>
</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-3">
			    <h6 class="bold">NKK</h6>
			    <h6 class="bold">Alamat</h6>
		        <h6 class="bold">RT/RW</h6>
		        <h6 class="bold">Kelurahan/Desa</h6>
		        <h6 class="bold">Kecamatan</h6>
		        <h6 class="bold">Kota</h6>
	       </div>
		
			<div class="col-lg-6">
		       	<h6 th:text="${keluarga.nomor_kk}">NKK</h6>
		       	<h6 th:text="${keluarga.alamat}">Alamat</h6>
		        <h6 th:text="${keluarga.RT} + '/' + ${keluarga.RW}">RT/RW</h6>
		        <h6 th:text="${kelurahan.nama_kelurahan}">Kelurahan/Desa</h6>
		        <h6 th:text="${kecamatan.nama_kecamatan}">Kecamatan</h6>
		        <h6 th:text="${kota.nama_kota}">Kota</h6>
		     </div>
		 </div>
	</div>
	     
	<table class="table table-bordered">
    <thead>
      <tr>
        <th>No.</th>
        <th>Nama Lengkap</th>
        <th>NIK</th>
        <th>Jenis Kelamin</th>
        <th>Tempat Lahir</th>
        <th>Tanggal Lahir</th>
        <th>Agama</th>
        <th>Pekerjaan</th>
        <th>Status Perkawinan</th>
        <th>Status Dalam Keluarga</th>
        <th>Kewarganegaraan</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="penduduk,iterationStatus:${penduduk}">
	     	<td th:text="${iterationStatus.count}">1</td>
	       	<td th:text="${penduduk.nama}"></td>
	       	<td th:text="${penduduk.nik}"></td>
	       	<td th:text="${penduduk.jenis_kelamin}==1?'Perempuan':'Laki-laki'"></td>
	       	<td th:text="${penduduk.tempat_lahir}"></td>
	       	<td th:text="${penduduk.tanggal_lahir}"></td>
	       	<td th:text="${penduduk.agama}"></td>
	       	<td th:text="${penduduk.pekerjaan}"></td>
	       	<td th:text="${penduduk.status_perkawinan}"></td>
	       	<td th:text="${penduduk.status_dalam_keluarga}"></td>
	       	<td th:text="${penduduk.is_wni}==1?'WNI':'WNA'"></td>
      </tr>
    </tbody>
  </table>
    </body>
</html>

